#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #root {
    display: unset;
  }
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --textColor: rgb(211, 211, 211);
  --textColor2: grey;
  --borderColor: rgb(48, 48, 48);
  --backgroundColor: rgb(23, 23, 23);
  --accentColor: rgb(51, 75, 84);
  color: var(--textColor);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30, 35, 43);
  background-image: url("/black-linen.png");
}

body {
  margin: 0;
}

.map {
  width: 90dvw;
  height: 90dvh;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 50px rgba(51, 119, 140, 0.293);
  border: 1px solid var(--accentColor);
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .map {
    width: 100dvw;
    height: 100dvh;
    border-radius: 0;
    border: 0;
  }
}

.controls {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 2px 2px 5px #1d3937;
  border: 1px solid var(--accentColor);
  border-radius: 12px;
  padding: 12px 0;
  background-image: radial-gradient(at top, #0b0b0b52, rgb(18, 18, 18));
  backdrop-filter: blur(2px);
  max-width: 380px;
  height: 520px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
  padding: 0 12px;
}

@media (max-width: 600px) {
  .controls {
    width: 100dvw;
    max-width: unset;
    max-height: unset;
    height: 100dvh;
    top: 0;
    left: 0;
    border-radius: 0;
    border: 0;
    margin: 0;
    justify-content: flex-start;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4px;
}

h1 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  color: var(--textColor);
}

a {
  text-decoration: none;
}

button,
a {
  color: var(--textColor);
  background-image: linear-gradient(to top right, #171717, rgb(46, 46, 46));
  border: 1px solid black;
  border-radius: 12px;
  font-size: 12px;
  min-width: 32px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}

button:active,
a:active {
  background-image: unset;
  background-color: var(--borderColor);
  transform: translateX(1px) translateY(1px);
}

.actual-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input::placeholder {
  opacity: 0.3;
}

input[type="text"] {
  padding: 0 8px;
  width: 100%;
  background-color: rgb(33, 33, 33);
  height: 24px;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgb(26, 26, 26);
  border: 1px solid var(--borderColor);
  font-size: 16px;
  box-sizing: border-box;
}

.stops {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transports {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  color: var(--textColor);
}

select:focus-visible {
  outline: 1px solid var(--textColor2);
}

input:focus-visible {
  outline: 1px solid var(--textColor2);
}

label,
.text2 {
  color: var(--textColor2);
  font-size: 14px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.button-list {
  display: flex;
  gap: 12px;
}
